<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wins!</title>
</head>
<body>
    <h1>We are winnning!</h1>
    <main>
        <%wins.forEach(win => { %>
            <div>
                <a href='/wins/<%=win._id%>'><h4><%=win.text%></h4></a>
                <p><%=win.author%></p>
            </div> <%
        }) %>
        <form action='/wins/new'>
            <input type='submit' value='Add a New Win'>
        </form>
    </main>
</body>
</html>