<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/formStyle.css'>
    <title>Add A Win</title>
</head>
<body>
    <header>
        <h1>We are winnning!</h1>
       <a href="/">Home</a>
    </header>
    <form class='container' action="/" method="POST">
        <label>
           <input type="text" name="text" placeholder="WIN">
        </label>
        <label>
           <input type="text" name="author" placeholder="AUTHOR">
        </label>
        <label>
            <input type="submit">
        </label>
    </form>
</body>
</html>